<% if @reviews.count > 0 %>
  <table>
    <thead>
      <tr>
        <!-- <th>User</th> -->
        <th>Message</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <!-- <td><%# review.user_id %></td> -->
          <td><%= review.message %></td>
          <td><%= review.rating %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <h1>No Reviews </h1>
<% end %>
<% if @reviews.count > 0 %>
  <h1> Already Reviewed! </h1>
<% else %>
  Please write a Review about the user 
  <h1><%= @user.first_name %>&nbsp;<%= @user.last_name %></h1>
  <%# link_to 'New Review', new_bid_path %>
  <%= form_with model: @review,url: "/heaven/create_review", :method => 'post' do |form| %>
    <div class="field">
      <%# form.label :user_id %>
      <%= form.hidden_field :user_id, :value =>  @user.id%>
    </div>
    <div class="field">
      <%= form.label :message %>
      <%= form.text_field :message %>
    </div>
    <div class="field">
      <%= form.label :rating %>
      <%= form.select :rating, [1,2,3,4,5]%>
    </div>
    <div class="actions">
      <%= form.submit "Submit" %>
    </div>
  <% end %>
<% end %>