<p id="notice"><%= notice %></p>

<h1>Address Types</h1>

<table>
  <thead>
    <tr>
      <th>Address type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @address_types.each do |address_type| %>
      <tr>
        <td><%= address_type.address_type %></td>
        <td><%= link_to 'Show', address_type %></td>
        <td><%= link_to 'Edit', edit_address_type_path(address_type) %></td>
        <td><%= link_to 'Destroy', address_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Address Type', new_address_type_path %>
