<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :barcode %>
    <%= form.number_field :barcode %>
  </div>
  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>
  <div class="field">
    <%= form.label :bid_enable %>
    <%= form.check_box :bid_enable %>
  </div>
  <div class="field">
    <%= form.label :bid_status %>
    <%# form.text_field :bid_status %>
    <%= form.select :bid_status, ["open", "closed"]%>
  </div>
  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>
  <div class="field">
    <%= form.label :bid_timer %>
    <%= form.datetime_select :bid_timer %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>