<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%# stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%# javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', 'data-turbolinks-eval': 'false', async: true %>
  </head>
  <body>
    <%#DateTime.now %> <br>
    <% if current_user %>
      Welcome <%= current_user.first_name %>, <%= current_user.last_name %> <%= current_user.email %> <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <br>
      <hr>
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'Home', root_path, method: :get %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'Dashboard', heaven_index_path, method: :get %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'Orders', orders_path, method: :get %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'Products', heaven_products_path, method: :get %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'Messages', heaven_messages_path, method: :get %>
      <br>
      <br>
      <hr>
    <% else %>
      <%= link_to 'Login', new_user_session_path %>
    <% end %>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <%= value %>
      </div>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
